<pre>package es.ull.pai.Practica4.ejercicio2;<br>
</br><span style="color:black"><b>
import </b></span>java.util.ArrayList;<span style="color:black"><b>
import </b></span>java.util.Collection;<span style="color:black"><b>
import </b></span>java.util.regex.Matcher;<span style="color:black"><b>
import </b></span>java.util.regex.Pattern;<br>
</br><br>
</br><span style="color:green">/**
 * Analyzer syntax from a raw text, contains java code, and generate a HTML file with highlight keywords, comments....
 * Created by eleazardd on 6/03/16.
 * class for
 */</span><span style="color:black"><b>
public </b></span>class Syntax {<br>
</br>   <span style="color:black"><b> private </b></span>StringBuilder formated; <span style="color:green">// class for ?
</span>   <span style="color:black"><b> private </b></span>int posRead;<br>
</br>   <span style="color:black"><b> private </b></span>ArrayList<Annotation> annotations;<br>
</br><br>
</br>   <span style="color:black"><b> public </b></span>Syntax(String text) {<br>
</br>        formated =<span style="color:black"><b> new </b></span>StringBuilder();<br>
</br>        annotations =<span style="color:black"><b> new </b></span>ArrayList<>();<br>
</br>        posRead = 0;<br>
</br>        keywordsFinder(text);<br>
</br>        commentFinder(text);<br>
</br>        stringLiteralsFinder(text);<br>
</br>        newlineFinder(text);<br>
</br>        annotations.sort((Annotation a, Annotation b) -> a.compareTo(b));<br>
</br>       <span style="color:black"><b> for </b></span>(Annotation a : annotations) {<br>
</br>            <span style="color:green">//System.out.println(a.getColor());
</span>            System.out.println(a.getStart());<br>
</br>            System.out.println(a.getEnd());<br>
</br>        }<br>
</br>       <span style="color:black"><b> int </b></span>lastElementEnd = 0;<br>
</br>       <span style="color:black"><b> int </b></span>i = 0;<br>
</br>       <span style="color:black"><b> while </b></span>(i < text.length()) {<br>
</br>           <span style="color:black"><b> if </b></span>(annotations.size()>=1) {<br>
</br>                lastElementEnd = annotations.get(0).getEnd();<br>
</br>               <span style="color:black"><b> while </b></span>(i < annotations.get(0).getStart()) {<br>
</br>                    Character ch = text.charAt(i);<br>
</br>                    formated.append(ch);<br>
</br>                    i++;<br>
</br>                }<br>
</br>                formated.append(annotations.get(0).getStartAnnon());<br>
</br>               <span style="color:black"><b> while </b></span>(i < annotations.get(0).getEnd()) {<br>
</br>                    Character ch = text.charAt(i);<br>
</br>                    formated.append(ch);<br>
</br>                    i++;<br>
</br>                }<br>
</br>                formated.append(annotations.get(0).getEndAnnon());<br>
</br>                annotations.remove(0);<br>
</br>               <span style="color:black"><b> while </b></span>(annotations.size()>0 && lastElementEnd > annotations.get(0).getStart()) {<br>
</br>                    annotations.remove(0); <span style="color:green">// eliminamos todas las cosas mierdas que se anotaron
</span>                }<br>
</br>            }<br>
</br>           <span style="color:black"><b> else </b></span>{<br>
</br>                Character ch = text.charAt(i);<br>
</br>                formated.append(ch);<br>
</br>                i++;<br>
</br>            }<br>
</br>        }<br>
</br>    }<br>
</br><br>
</br>   <span style="color:black"><b> public </b></span>String toString() {<br>
</br>       <span style="color:black"><b> return </b></span>formated.toString();<br>
</br>    }<br>
</br><br>
</br>   <span style="color:black"><b> private </b></span>void newlineFinder(String text) {<br>
</br>        Pattern p = Pattern.compile(<span style="color:blue">"(\\n)"</span>);<br>
</br><br>
</br>        Matcher match = p.matcher(text);<br>
</br>       <span style="color:black"><b> while </b></span>(match.find()) {<br>
</br>            String elem = match.group();<br>
</br>            System.out.println(elem);<br>
</br><br>
</br>            System.out.println(match.start());<br>
</br><br>
</br>            annotations.add(new Annotation(match.start(), match.end(), <span style="color:blue">"<br>"</span>, <span style="color:blue">"</br>"</span>));<br>
</br>        }<br>
</br>    }<br>
</br><br>
</br>   <span style="color:black"><b> private </b></span>void keywordsFinder(String text) {<br>
</br>        Pattern p = Pattern.compile(<span style="color:blue">"(abstract|continue|for|new|switch|assert|default|goto"</span><br>
</br>                + <span style="color:blue">"|package|synchronized|boolean|do|if|private|this|break"</span><br>
</br>                + <span style="color:blue">"|double|implements|protected|throw|byte|else|import|public"</span><br>
</br>                + <span style="color:blue">"|throws|case|enum|instanceof|return|transient|catch|extends"</span><br>
</br>                + <span style="color:blue">"|int|short|try|char|final|interface|static|void|class|finally"</span><br>
</br>                + <span style="color:blue">"|long|strictfp|volatile|const|float|native|super|while)"</span>);<br>
</br><br>
</br>        Matcher match = p.matcher(text);<br>
</br>       <span style="color:black"><b> while </b></span>(match.find()) {<br>
</br>            String elem = match.group();<br>
</br>            System.out.println(elem);<br>
</br><br>
</br>            System.out.println(match.start());<br>
</br><br>
</br>            annotations.add(new Annotation(match.start(), match.end(), <span style="color:blue">"<span style=\"color:black\"><b>"</span>, <span style="color:blue">"</b></span>"</span>));<br>
</br>        }<br>
</br>    }<br>
</br><br>
</br>   <span style="color:black"><b> private </b></span>void commentFinder(String text) {<br>
</br>        Pattern p = Pattern.compile(<span style="color:blue">"(//.*\\n|/\\*(\\n|.)*?\\*/)"</span>);<br>
</br><br>
</br>        Matcher match = p.matcher(text);<br>
</br>       <span style="color:black"><b> while </b></span>(match.find()) {<br>
</br>            String elem = match.group();<br>
</br>            System.out.println(elem);<br>
</br><br>
</br>            System.out.println(match.start());<br>
</br><br>
</br>            annotations.add(new Annotation(match.start(), match.end(), <span style="color:blue">"<span style=\"color:green\">"</span>, <span style="color:blue">"</span>"</span>));<br>
</br>        }<br>
</br>    }<br>
</br><br>
</br>   <span style="color:black"><b> private </b></span>void stringLiteralsFinder(String text) {<br>
</br>        Pattern p = Pattern.compile(<span style="color:blue">"\"(\\\"|.)*?\""</span>);<br>
</br><br>
</br>        Matcher match = p.matcher(text);<br>
</br>       <span style="color:black"><b> while </b></span>(match.find()) {<br>
</br>            String elem = match.group();<br>
</br>            System.out.println(elem);<br>
</br><br>
</br>            System.out.println(match.start());<br>
</br>            annotations.add(new Annotation(match.start(), match.end(), <span style="color:blue">"<span style=\"color:blue\">"</span>, <span style="color:blue">"</span>"</span>));<br>
</br>        }<br>
</br>    }<br>
</br>}</pre>